<div class="mwpostnav">
    <{if $prev_post}><span class="prev"><a href="<{$prev_post.link}>">&laquo; <{$prev_post.title}></a></span><{/if}>
    <{if $next_post}><span class="next"><a href="<{$next_post.link}>"><{$next_post.title}> &raquo;</a></span><{/if}>
    <a href="<{$mw_url}>">Inicio</a>
</div>
<div class="mwitem">
	<h1><{$post.title}></h1>
	<{if $post.published!=''}>
        <span class="mwinfotop">
        <{$post.published}>. <{if $edit_link}> | <{$edit_link}><{/if}>
	    | <{$lang_reads}>
	    </span>
    <{/if}>
    <{if $socials}>
        <div class="mwbooks">
            <{foreach item=bm from=$socials}>
                <a href="javascript:;" onclick="openWithSelfMain('<{$bm.url}>','marker',600,600);" title="<{$bm.alt}>"><img src="<{$xoops_url}>/modules/mywords/images/icons/<{$bm.icon}>" alt="<{$bm.alt}>" /></a>
            <{/foreach}>
        </div>
    <{/if}>
	<div class="text">
		<{$post.text}>
	</div>
	<div class="mwfoot">
        <{if $post.cats!=''}><span class="mwcats"><{$lang_publish}> <{$post.cats}></span><{/if}>
        <{if $post.tags!=''}><span class="mwtags"><{$lang_tagged}> <{$post.tags}></span><{/if}>
    </div>
</div>
