<h3><{$lang_sendacomment}></h3>
<form name="frmCom" method="post" action="<{$post.link}>">
	<{if !$xoops_isuser}>
	*<{$lang_name}><br />
	<input type="text" name="nombre" size="30" /><br />
	*<{$lang_mail}> (<{$lang_nopublish}>)<br />
	<input type="text" name="mail" size="30" /><br />
	<{/if}>
	<{$lang_youcanuse}><br />
	<textarea name="texto" style="width:90%; height: 120px;"></textarea><br />
	<{$lang_allowedtags}><br /><br />
	*<{$lang_seccode}><br />
	<{$security_field}><br />
	<input type="hidden" name="op" value="comment" />
	<input type="submit" value="<{$lang_submit}>" class="commentButton" />
</form>