<{if $shownav}>
<div class="mwpostnav">
    <{if $prev_post}><span class="prev"><a href="<{$prev_post.link}>">&laquo; <{$prev_post.title}></a></span><{/if}>
    <{if $next_post}><span class="next"><a href="<{$next_post.link}>"><{$next_post.title}> &raquo;</a></span><{/if}>
    <a href="<{$mw_url}>"><{$lang_lang_homemw}></a>
</div>
<{/if}>
<div class="mwitem">
    <h1><{$post.title}></h1>
    <{if $post.published!=''}>
        <span class="mwinfotop">
        <{$post.published}>. <{if $edit_link}> | <{$edit_link}><{/if}>
        | <{$lang_reads}>
        <{if $post.trackback!=''}>
        | <a href="<{$post.trackback}>"><{$lang_trackback}></a>
        <{/if}>
        </span>
    <{/if}>
    <{if $socials}>
        <div class="mwbooks">
            <{foreach item=bm from=$socials}>
                <a href="javascript:;" onclick="openWithSelfMain('<{$bm.url}>','marker',600,600);" title="<{$bm.alt}>"><img src="<{$xoops_url}>/modules/mywords/images/icons/<{$bm.icon}>" alt="<{$bm.alt}>" /></a>
            <{/foreach}>
        </div>
    <{/if}>
    <div class="mwtext">
        <{$post.text}>
    </div>
    <div class="mwfoot">
        <{if $post.cats!=''}><span class="mwcats"><{$lang_publish}> <{$post.cats}></span><{/if}>
        <{if $post.tags!=''}><span class="mwtags"><{$lang_tagged}> <{$post.tags}></span><{/if}>
    </div>
</div>
<{$post_navbar}>

<h2 class="comments_title"><{$lang_numcoms}></h2>

<!-- Start Comments -->
<a name="comments"></a>
<{include file="db:rmc_comments_display.html"}>
<{include file="db:rmc_comments_form.html"}>
<!-- /End comments -->

<!-- Trackbacks -->
<{if $trackbacks}>
<h2 class="comments_title"><{$lang_numtracks}></h2>
<div id="trackbacks-list">
<{foreach item=tb from=$trackbacks}>
    <div class="tb_item">
        <span class="title"><{$tb.title}></span>
        <span class="blogdate"><a href="<{$tb.url}>"><{$tb.blog}></a> | <{$tb.date}></span>
        <{$tb.text}>
    </div>
<{/foreach}>
</div>
<{/if}>
<!-- /Trackbacks -->

<{if $pingnow}>
<iframe src="<{$xoops_url}>/modules/mywords/ping.php?post=<{$post.id}>" style="display: none; width: 0; height: 0;"></iframe>
<{/if}>