<div class="mwpostnav">
    <{if $prev_post}><span class="prev"><a href="<{$prev_post.link}>">&laquo; <{$prev_post.title}></a></span><{/if}>
    <{if $next_post}><span class="next"><a href="<{$next_post.link}>"><{$next_post.title}> &raquo;</a></span><{/if}>
    <a href="<{$mw_url}>">Inicio</a>
</div>
<div class="mwitem">
	<h1><{$post.title}></h1>
	<{if $post.published!=''}>
        <span class="mwinfotop">
        <{$post.published}>. <{if $edit_link}> | <{$edit_link}><{/if}>
	    | <{$lang_reads}>
	    </span>
    <{/if}>
    <{if $socials}>
        <div class="mwbooks">
            <{foreach item=bm from=$socials}>
                <a href="javascript:;" onclick="openWithSelfMain('<{$bm.url}>','marker',600,600);" title="<{$bm.alt}>"><img src="<{$xoops_url}>/modules/mywords/images/icons/<{$bm.icon}>" alt="<{$bm.alt}>" /></a>
            <{/foreach}>
        </div>
    <{/if}>
	<div class="text">
		<{$post.text}>
	</div>
	<p class="npfoot"><{if $post.categos!=''}><{$lang_publish}> <{$post.categos}><{/if}></p>
</div>
<!-- Comenta y comparte -->
<a name="comments"></a>
<p class="nptopcom"><span class="npwritecom"><a href="#write"><{$lang_writecom}></a>.
</span><span class="acomment"><a id="linkcom" href="javascript:;" onclick="npressShowComments();"><{$post.comments}></a>
| <a href="javascript:;" onclick="npressShowTracks();" id="linktrack"><{$post.trackbacks}></a></span></p>
<DIV id="comentarios" style="z-index: 5; LEFT: 25px; VISIBILITY: visible; POSITION: relative; left: 0px; TOP: 0px; BACKGROUND-COLOR: transparent; DISPLAY: ;">
	<{include file="db:mywords_pagenav.html"}>
	<!-- /Comentarios -->
	<a name="write"></a>
		<{include file="db:system_comments_view.html"}>
</DIV>
<DIV id="trackbacks" style="z-index: 5; LEFT: 25px; VISIBILITY: hidden; POSITION: relative; left: 0px; TOP: 0px; BACKGROUND-COLOR: transparent; DISPLAY: none;">
	<{foreach item=track from=$trackbacks}>
		<{include file="db:npress_trackback.html"}>
	<{/foreach}>
</DIV>