<div class="npitem">
    <h1><a href="<{$post.link}>" title="<{$post.lang_permalink}>"><{$post.title}></a></h1>
    <span class="npauthor"><{$post.published}>. <{if $show_edit}>&bull; <a href="<{$xoops_url}>/modules/mywords/admin/posts.php?op=edit&amp;post=<{$post.id}>"><{$lang_edit}></a><{/if}></span>
    
    <div class="text">
        <{$post.text}>
    </div>
    <{if $post.continue!=''}><span class="npcontinue"><a href="<{$post.link}>#moreMwPost"><{$post.continue}></a></span><{/if}>
    <p class="npfoot">
        <{if $post.categos!=''}><{$lang_postedin}> <span class="categos"><{$post.categos}><{if $post.comments!=''}> | <a href="<{$post.link}>#comments" title="<{$post.lang_comment}>"><{$post.comments}></a><{/if}></span><{/if}>
        <{if $post.bookmarks}><br />
            <{foreach item=bm from=$post.bookmarks}>
                <a href="javascript:;" onclick="openWithSelfMain('<{$bm.link}>','marker',600,600);" title="<{$bm.alt}>"><img src="<{$xoops_url}>/modules/mywords/images/icons/<{$bm.icon}>" alt="<{$bm.alt}>" /></a>
            <{/foreach}>
        <{/if}>
    </p>
</div>