.rmc_blocks_options{
    padding: 5px 0;
    overflow: hidden;
}
.rmc_blocks_options input,
.rmc_blocks_options select{
    margin: 3px 0 0 0;
}
.disabled{
    font-style: italic;
    background: url(../images/modbk.png) no-repeat left;
    padding: 2px 0 2px 16px;
}
.tag{
    display: block;
    font-family: monospace;
}
.bkbk_forms{
    overflow: hidden;
    width: 320px;
    display: none;
    float: left;
    margin: 0 10px 0 0;
    border-radius: 5px;
    -moz-border-radius: 5px;
}
.bkbk_forms label{
    font-weight: bold;
    display: block;
    margin: 0 0 3px 0;
}
.bkbk_forms input[type='text'],
.bkbk_forms select{
    width: 95%;
    margin: 0 0 10px 0;
}
.bkbk_forms .desc{
    font-size: 0.9em;
    color: #666;
    display: block;
    margin: -8px 0 10px 0;
}
.bkbk_forms .other_options{
    display: block;
    margin: 10px 0;
}
#existing-positions{
    display: none;
    padding: 10px;
    font-size: 0.9em;
    line-height: 140%;
}
#existing-positions span{
    display: block;
    overflow: hidden;
    border-bottom: 1px dotted #CCC;
    padding: 3px 0;
}
#existing-positions span a{
    display: block;
    float: right;
}

/** Menus **/
.megamenu{
position: absolute;
display: none;
left: 0;
top: 0;
background: #fff;
border: 1px solid #507BA0;
border-width: 5px 1px;
font: normal 12px Verdana;
z-index: 100;
}

.megamenu .column{
overflow: hidden;
}

.megamenu .column ul{
margin: 0;
padding: 0;
list-style-type: none;
}

.megamenu .column ul li{
margin: 2px;
float: left;
}
.megamenu .column ul li a{
    display: block;
    padding: 5px 7px;
    background: #ebebeb;
    border-radius: 5px;
    border: 1px solid #CCC;
    color: #666;
    text-shadow: 1px 1px 1px #FFF;
}
.megamenu .column ul li a:hover{
    text-decoration: none;
    color: #333;
}

.megamenu .column h3{
    font: bold 13px Arial;
    margin: 10px 0 5px 0;
    border-bottom: 1px solid #666;
    padding: 0 0 2px 0;
    text-transform: uppercase;
    font-size: 0.9em;
}
.rmc_menus{
    float: right;
    padding: 6px 6px;
    font-size: 0.9em;
    border-radius: 4px;
    -moz-border-radius: 4px;
    border: 1px solid #ccc;
    background: url(../images/down.png) no-repeat right;
    padding-right: 16px;
    margin: 0 2px;
}
#newpos{
    background: none;
    padding: 6px;
}
.menucont{
    max-height: 300px;
    padding: 10px 0 10px 10px;
    overflow: auto;
    width: 580px;
}
#newban{
    
}
.rmc_menus:hover{
    background-color: #ebebeb;
}
.bk-waiting{
    display: none;
    float: right;
    padding: 6px 6px 6px 26px;
    font-size: 0.9em;
    background: url(../images/wait.gif) no-repeat 6px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    font-style: italic;
    color: #666;
}
.description{
    display: block;
    padding: 3px 0;
    font-size: 0.9em;
    font-style: italic;
}

/** Settings  Form **/
.bk_hightlight{
    background: #FFF9DD;
}
#blocker{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    background: #000;
    opacity: 0.7;
    -moz-opacity: 0.7;
    filter: Alpha(Opacity=70);
    *filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
#loading{
    display: none;
    position: fixed;
    width: 200px;
    height: 15px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    background: #333;
    padding: 20px;
    top: 50%;
    left: 50%;
    margin-left: -120px;
    margin-top: -50px;
    font-style: italic;
    color: #999;
    border: 2px solid #999;
    box-shadow: 0 0 10px #333;
    -moz-box-shadow: 0 0 10px #333;
}
#loading img{
    margin: 0 10px 0 0;
    float: left;
}

#form-window{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    width: 500px;
    min-width: 600px;
    max-height: 400px;
    background: #fff;
    border: 2px solid #999;
    padding: 1px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    box-shadow: 0 0 20px #333;
    -moz-box-shadow: 0 0 20px #333;
}
#block-config-form{
    position: relative;
}
#block-config-form .title{
    border-radius: 7px 7px 0 0;
    -moz-border-radius: 7px 7px 0 0;
}
#block-config-form .close{
    display: block;
    float: left;
    width: 24px;
    height: 24px;
    background: url(../images/closeb.png) no-repeat center;
    margin: -5px 0 0 -6px;
    cursor: pointer;
}
#block-config-form .content{
    padding: 1%;
    /*overflow: auto;*/
}
label.options{
    display: block;
    font-weight: bold;
    padding: 0 0 3px 0;
    margin: 10px 0 0 0;
    color: #000;
}
#block-config-form .big{
    width: 98%;
    font-size: 1.4em;
}
.bk_tab_titles{
    overflow: hidden;
}
.bk_tab_titles span{
    display: block;
    float: left;
    padding: 4px 10px;
    background-color: #fff;
    border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    margin-right: 1px;
    border: 1px solid #CCC;
    border-bottom: 0;
    cursor: pointer;
    color: #666;
    font-size: 0.9em;
}
.bk_tab_titles span.selected{
    font-weight: bold;
    color: #000;
    background: #ebebeb;
}
.bk_tab_titles span:hover{
    background: #E0E0E0;
    color: #333;
}
.bk_tab{
    border: 1px solid #CCC;
    padding: 5px;
    border-radius: 0 5px 5px 5px;
    -moz-border-radius: 0 5px 5px 5px;    
}
#custom-content,
#block-permissions{
    display: none;
}
.content .left{
    float: left;
    width: 48%;
}
.content .right{
    float: right;
    width: 48%;
}
.bk_buttons{
    padding: 4px 0;
    text-align: left;
}
.subpages_container .sub_item label{
    color: #999;
}
.code{
    font-family: "Courier New", courier, monospace;
    font-size: 1.1em;
    padding: 4px;
    background: #ebebeb;
}
.code em{color: #c00;font-weight: bold;}
#blocks-modpos{
    float: left;
    overflow: hidden;
    background: #ebebeb;
    padding: 3px 5px 5px 5px;
    border-radius: 5px;
}
.pos_data{display: none;}
.editor{background:#f2f2f2;}
.editor input[type='button'],.editor input[type='submit']{margin: 2px;}
#bk-sorts{display: none;}
.bk-sort{
    font-size: 1.2em;
    list-style: none;
}
.bk-sort li{
    margin: 4px 0;
    width: 400px;
    cursor: move;
}
.bk-sort li div{padding: 8px 12px;border: 1px solid #CCC;}
.placeholder{background: #ebebeb;}
.save-order{display: inline-block;padding: 4px 6px; font-weight: bold;background: #ebebeb; border: 1px solid #CCC; border-radius: 4px;margin: 5px 2px;}
.bk_waiting{overflow: hidden;display: none; padding: 0 10px;font-style: italic;}
