/**
* $Id$
* Styles for tinymce editor content
*/
.alignleft{
	float: left;
	margin: 3px 3px 3px 0;
}
.alignright{
	float: right;
	margin: 3px 0 3px 3px;
}
.aligncenter{
	display:block;
	margin: 5px auto 5px auto;
}