.dt_table{display: table;width:100%;}
.dt_row{display: table-row;}
.dt_cell{display: table-cell;padding: 4px;}
.width-300{width:300px;padding: 0 20px 0 0;}
.form_add_cat label{display:block;padding: 4px 0;font-weight: bold;cursor:pointer;}
.form_add_cat input[type='text'],
.form_add_cat textarea,
.form_add_cat select{width: 98%;margin-bottom: 6px;}
.form_add_cat textarea{height: 100px; }
.dt_options{padding: 5px 0;}

.form_add_cat input.error{border: 1px solid #D70000;background: #FFEAEA;}
