<p class="ct-info"><{$contact_info}></p>

<form name="frmContact" id="frm-contact" method="post" action="index.php">
    
    <div class="ct_field">
    <label for="name"><{$lang_name}></label>
    <input type="text" name="name" id="name" value="" size="50" />
    </div>
    
    <div class="ct_field">
    <label for="email"><{$lang_email}></label>
    <input type="text" name="email" id="email" value="" size="50" />
    </div>
    
    <div class="ct_field">
        <div class="left">
            <label for="business"><{$lang_business}></label>
            <input type="text" name="business" id="business" value="" />
        </div>
        
        <div class="right">
            <label for="phone"><{$lang_phone}></label>
            <input type="text" name="phone" id="phone" value="" />
        </div>
    </div>
    
    <div class="ct_field">
        <label for="subject"><{$lang_subject}></label>
        <input type="text" name="subject" id="subject" value="" />
    </div>
    
    <div class="ct_field">
        <label for="message"><{$lang_message}></label>
        <textarea name="message" id="message" rows="5" cols="45"></textarea>
    </div>
    
    <div class="ct_field">
        <input type="submit" value="<{$lang_sendnow}>" />
    </div>
    
</form>