<p class="ct-info"><{$contact_info}></p>

<form name="frmContact" id="frm-contact" method="post" action="index.php">
    
    <div class="ct_field">
    <label for="name"><{$lang_name}>*</label>
    <input type="text" name="name" id="name" value="" size="50" class="required" />
    </div>
    
    <div class="ct_field">
    <label for="email"><{$lang_email}>*</label>
    <input type="text" name="email" id="email" value="" size="50" class="required email" />
    </div>
    
    <div class="ct_field">
        <div class="left">
            <label for="company"><{$lang_business}></label>
            <input type="text" name="company" id="company" value="" />
        </div>
        
        <div class="right">
            <label for="phone"><{$lang_phone}></label>
            <input type="text" name="phone" id="phone" value="" />
        </div>
    </div>
    
    <div class="ct_field">
        <label for="subject"><{$lang_subject}>*</label>
        <input type="text" name="subject" id="subject" value="" class="required" />
    </div>
    
    <div class="ct_field">
        <label for="message"><{$lang_message}>*</label>
        <textarea name="message" id="message" rows="5" cols="45" class="required"></textarea>
    </div>
    
    <{if $captcha}>
        <div class="ct_field">
            <label for="recaptcha_challenge_field"><{$lang_captcha}>*</label>
            <{$captcha}>
        </div>
    <{/if}>
    
    <div class="ct_field">
        <input type="submit" value="<{$lang_sendnow}>" />
        <input type="hidden" name="action" value="send" />
    </div>
    
    <div class="ct_field textrequired">
        <{$lang_required}>
    </div>
    
</form>