<{include file="db:dtrans_cpheader.html"}>

<div class="dt_outer"<{if $edit>=1}> style="display: none;"<{/if}>>
    <div class="dt_row">
        <div class="th"><{$lang_id}></div>
        <div class="th"><{$lang_image}></div>
        <div class="th" style="text-align: left;"><{$lang_title}></div>
        <div class="th" style="text-align: left;"><{$lang_desc}></div>
    </div>
    <{foreach item="screen" from=$screens}>
    <div class="dt_row <{cycle values="even,odd"}>">
        <div><{$screen.id}></div>
        <div><img src="<{$screen.image}>" alt="" /></div>
        <div style="text-align: left;">
            <{$screen.title}>
            <span class="dt_options">
                <a href="<{$screen.links.edit}>"><{$lang_edit}></a> |
                <a href="<{$screen.links.delete}>" class="delete"><{$lang_delete}></a>
            </span>
        </div>
        <div style="text-align: left;"><{$screen.desc}></div>
    </div>
    <{/foreach}>
</div>
<br />
<{$formscreens}>
