<{if $ok_log}>
	<div class="dtShadow dtMargin10">
		<h2><a name="log<{$log.id}>"></a><{$log.title}></h2>
		<div id="dtItemDesc">
			<{$log.content}>
		</div>
		<img src="<{$dtrans_url}>/images/shadowleft.png" alt="" class="dtShadowLeft" />
		<img src="<{$dtrans_url}>/images/shadowright.png" alt="" class="dtShadowRight" />
	</div>
<{/if}>
<{if $logs_count>0}>
	<div class="dtShadow dtMargin10">
		<h2><{$lang_logs}></h2>
		<div id="dtItemDesc">
	<ul class="dtFeaturesList">
		<{foreach item=lg from=$logs}>
			<li><{if !$lg.current}><a href="<{$lg.link}>#log<{$lg.id}>"><{$lg.title}></a><{else}><{$lg.title}><{/if}><br /><em><{$lg.date}></em></li>
		<{/foreach}>
	</ul>
	</div>
		<img src="<{$dtrans_url}>/images/shadowleft.png" alt="" class="dtShadowLeft" />
		<img src="<{$dtrans_url}>/images/shadowright.png" alt="" class="dtShadowRight" />
	</div>
<{/if}>
