<{include file="db:dtrans_header.html"}>
<div id="dtLocationBar">
	<{$dt_location}>
</div>
<form name="frmfeat" method="POST" action="features.php">
<table width="100%" class="outer" cellspacing="1">
	<tr>
		<th colspan="5"><{$lang_exists}></th>
		<th><a href="javascript:;" onclick="formFeat();"><{$lang_newfeat}></a></th>
	</tr>
	<tr class="head" align="center">
		<td width="20"><input type="checkbox" name="checkAll" onclick="xoopsCheckAll('frmfeat','checkAll')" /></td>
		<td><{$lang_id}></td>
		<td><{$lang_title}></td>
		<td><{$lang_created}></td>
		<td><{$lang_modified}></td>
		<td><{$lang_options}></td>
	</tr>
	<{foreach item=feature from=$features}>
	<tr class="<{cycle values='even,odd'}>">
		<td><input type="checkbox" name="id[]" value="<{$feature.id}>" /></td>
		<td align="center" width="20"><strong><{$feature.id}></strong></td>
		<td><{$feature.title}></td>
		<td align="center"><{$feature.created}></td>
		<td align="center"><{$feature.modified}></td>
		<td align="center"><a href="./features.php?op=edit&amp;id=<{$feature.id}>&amp;item=<{$item}>"><{$lang_edit}></a> &bull; <a href="./features.php?op=delete&amp;id=<{$feature.id}>&amp;item=<{$item}>" onclick="return confirm('<{$lang_deletefeat}>');"><{$lang_del}></a></td>

	</tr>		
<{/foreach}>
	<tr class="foot">
		<td align="right"><img src="<{$xoops_url}>/images/root.gif" border="0" /></td>
		<td colspan="5"><input type="submit" class="formButton" value="<{$lang_del}>" onclick="document.forms['frmfeat'].elements['op'].value='delete'; return confirm('<{$lang_deletefeats}>');" />
		</td>
	</tr>

</table>
<input type="hidden" name="op" />
<input type="hidden" name="item" value="<{$item}>" />
</form>
<div id="dtFormFeat" style="<{if $edit}>display: block;<{else}>display: none;<{/if}>">
	<{$form_feat}>
</div>

