<div class="dt_row">
    <div class="dt_cell">
        <span class="category"><{$item.category}></span>
        <span class="name"><a href="<{$item.link}>"><{$item.name}></a></span>
        <p class="description"><{$item.description}></p>
                <span class="ratecoms">
                    <{$item.siterate}>
                    <img src="<{$dt_img_url}>/images/comments.png" alt="" title="<{$lang_comments|sprintf:$item.comments}>" />
                    <span><{$item.comments}></span>
                </span>
    </div>
    <div class="dt_cell">
        <a href="<{$item.link}>" class="dt_button"><{$lang_download}></a>
        <span class="langs"><{$item.language}></span>
    </div>
</div>