<{include file="db:dtrans_cpheader.html"}>

<a href="#" class="show-form add-file"><{$lang_addfile}></a>

<div id="dt-forms"<{if !$edit}> style="display: none;"<{/if}>>
<{$file_form}>
</div>

<div class="dt_outer">
    <div class="dt_row">
        <div class="th"><{$lang_id}></div>        
        <div class="th" style="text-align: left;"><{$lang_title}></div>
        <div class="th"><{$lang_group}></div>
        <div class="th"><{$lang_remote}></div>
        <div class="th"><{$lang_size}></div>
        <div class="th"><{$lang_hits}></div>
        <div class="th"><{$lang_date}></div>
    </div>
    <{foreach item=file from=$files}>
    <div class="dt_row">
        <div><{$file.id}></div>
        <div style="text-align: left;">
            <strong><{$file.title}></strong>
            <span class="dt_options">
                <a href="<{$file.links.edit}>"><{$lang_edit}></a> |
                <a href="<{$file.links.delete}>" class="delete"><{$lang_delete}></a>
            </span>
        </div>
        <div><{$file.group}></div>
        <div><{$file.remote}></div>
        <div><{$file.size}></div>
        <div><{$file.hits}></div>
        <div><{$file.date}></div>
    </div>
    <{/foreach}>
</div>

<br />
<div id="dtFormGroup" style="<{if $editg}>display: block;<{else}>display: none;<{/if}>">
	<{$form_group}>
</div>
<div id="dtFormFile" style="<{if $edit}>display: block;<{else}>display: none;<{/if}>">
	<{$form_files}>
</div>

