<{include file="db:dtrans_header.html"}>

<{if $featured_items}>
<{include file="db:dtrans_featlist.html"}>
<{/if}>

<div id="dt-home-tabs">
    <ul>
        <li class="recents selected"><{$lang_recents}></li>
        <li class="rated"><{$lang_bestrated}></li>
        <li class="updated"><{$lang_updated}></li>
    </ul>
</div>

<!-- Descargas Recientes -->
<div id="recents-items" class="dt_items_container">
    <div class="dt_table">
        <{foreach item=item from=$recent_items}>
        <{include file="db:dtrans_listitem.html"}>
        <{/foreach}>
    </div>
</div>

<!-- Mejor valoradas -->
<div id="rated-items" class="dt_items_container">
    <div class="dt_table">
        <{foreach item=item from=$rated_items}>
        <{include file="db:dtrans_listitem.html"}>
        <{/foreach}>
    </div>
</div>

<!-- Actualizadas recientemente -->
<div id="updated-items" class="dt_items_container">
    <div class="dt_table">
        <{foreach item=item from=$updated_items}>
        <{include file="db:dtrans_listitem.html"}>
        <{/foreach}>
    </div>
</div>

<!-- Descargas del día -->
<{if $daily_items}>
<div id="daily-items">
    <h2><{$lang_daydown}></h2>
    <div class="dt_table">
        <div class="dt_row">
            <{foreach item=item from=$daily_items}>
            <div class="dt_cell day_item" style="width: <{$daily_width}>%;">
                <a href="<{$item.link}>" title="<{$item.name}>"><img src="<{$item.image}>" alt="<{$item.name}>" /></a>
                <a href="<{$item.link}>" class="dt_button_small"><{$lang_download}></a><br />
                <a href="<{$item.link}>"><{$item.name}></a><br />
                <{$item.siterate}>
            </div>
            <{/foreach}>
        </div>
    </div>
</div>
<{/if}>


<!-- Categorías -->
<h2><{$lang_categos}></h2>
<table class="outer" cellspacing="1" width="100%">
<tr class="even">
<{assign var="ci" value=1}>
<{foreach item=cat from=$categos key=i}>
	<{if $i>0 && $cat.jumps==0}><{assign var="ci" value=$ci+1}><{/if}>
	<{if $ci>2}>
		</tr><tr class="<{cycle values="odd,even"}>">
		<{assign var="ci" value=1}>
	<{/if}>
	<{if $i>0 && $cat.jumps==0}></td><{/if}>
	<{if $cat.jumps==0}><td width="33%" valign="top"><h3><a href="<{$cat.link}>"><{$cat.name}></a></h3><{elseif $cat.jumps==1}>&bull; <a href="<{$cat.link}>"><{$cat.name}></a><{/if}>
<{/foreach}>
</tr>
</table>
<!-- /Categorías -->
