<div class="gs_pic_item" style="width: <{$ths_width+35}>px;">
    <a href="<{$img.link}>" title="<{$img.title}>"><img src="<{$img.thumbnail}>" alt="<{$img.title}>" class="the_image" style="width: <{$ths_width}>px;" /></a>
    <div class="gs_pic_data">
        <{if $quickview}><span class="pic_qview"><a href="<{$img.image}>" rel="mgs-images" title="<{$img.title}>">Quick view</a></span><{/if}>
        <span class="pic_date"><{$img.created}></span>
        <span class="pic_by"><{$img.by}></span>
    </div>
</div>