<{include file="db:gs_header.html"}>
<div class="userData">
	<img class="avatar" src="<{$gs_url}>/images/tags48.png" alt="" />
	<h1><{$lang_tagsof}></h1>
	<{if $usr}>
	<ul>
		<li><img src="<{$gs_url}>/images/usrimage.png" align="absmiddle" /> <a href="<{$pics_link}>"><{$lang_pics}></a></li>
		<li><img src="<{$gs_url}>/images/set.png" align="absmiddle" /> <a href="<{$sets_link}>"><{$lang_sets}></a></li>
		<li class="last"><img src="<{$gs_url}>/images/mark.png" align="absmiddle" /> <a href="<{$bmark_link}>"><{$lang_bmark}></a></li>
	</ul>
	<{/if}>
</div>
<div id="gsTags">
	<{foreach item=tag from=$tags}>
		<a href="<{$tag.link}>" style="font-size: <{$tag.size}>px;" title="<{$lang_hits}><{$tag.hits}>"><{$tag.tag}></a>
	<{/foreach}>
</div>
