span.rmc_options{
	display: inline-block;
	font-size: 0.9em;
	padding: 4px;
	visibility: hidden;
	background: #ebebeb;
	border-radius: 2px;
	margin: 5px 0;
}
span.rmc_options a{
	color: #666;
	text-shadow: 1px 1px 0 #fff;
}
.even:hover span.rmc_options, .odd:hover span.rmc_options{
	visibility: visible;
}
div.rmc_bulkactions{
	padding: 4px 0;
	overflow: hidden;
}
div.rmc_bulkactions div.rmc_pages_navigation_container{
	float: right;
}
.descriptions{
	padding: 8px 0;
	color: #666;
}

/* Images launcher */
.rmimage_conainter{
    text-align: center;
}
.rmimage_conainter img{
    padding: 1px;
    border: 1px solid #ccc;
}

.mgr_blocker{
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -moz-opacity:0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    background: #FFF;
    top: 0; left: 0; right: 0; bottom: 0;
    position: fixed;
    display: none;
}
.imgmgr_container{
    width: 750px;
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -350px;
    border: 1px solid #999;
    border-top: 0;
    display: none;
}
.imgmgr_container .th{
    border: 0;
    position: relative;
}
.imgmgr_container .th span{
    display: block;
    width: 18px;
    height: 18px;
    position: absolute;
    right: 10px;
    background: url(../../images/closeb.png) no-repeat center;
    cursor: pointer;
}
.imgmgr_container iframe{
    width: 100%;
    margin: 0;
}