/** Modules Widget **/
.rmc_modules_widget{
	
}
.rmc_modules_widget .even,
.rmc_modules_widget .odd{
	overflow: hidden;
}
.rmc_mod_info{
	display: none;
	font-size: 0.85em;
	color: #666;
}
.rmc_mod_img{
	display: block;
	float: left;
	height: 40px;
	width: 40px;
	margin: 0 5px 0 0px;
	border: 1px solid #666;
	-moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.rmc_mod_img span{
	display: block;
	height: 38px;
	width: 38px;
	border: 1px solid #fff;
	-moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.rmc_available_options{
	display: block;
	font-size: 0.85em;
}
.rmc_available_options a{
	color: #FF4400;
}

/** Modules Content **/
#des-mods-container{
	display: table;
	width: 100%;
}
.rmc_item_module{
	display: table-row;
}
.rmc_item_module .descriptions{
	line-height: 150%;
	padding: 0 0 3px 0;
	display: block;
	margin-top: 3px;
}
.inactive{
    background: #FFF;
    border:1px dashed #ccc;
}
.rmc_item_module .mod_image{
	display: table-cell;
	width: 52px;
	padding: 10px;
	margin: 0;
	vertical-align: middle;
}
.mod_image a{
	display: block;
	width: 48px;
	height: 48px;
}
.mod_image a span{
	display: block;
	width: 46px;
	height: 46px;
}
.mod_image a:hover{
	border: 1px solid #333;
}
.rmc_item_module .mod_data{
	display: table-cell;
	padding: 4px 4px 4px 10px;
	line-height: 130%;
}
.mod_data .name{
	display: block;
	font-size: 1.2em;
	font-family: georgia, times, serif;
    color: #333;
	font-weight: bold;
	padding: 0;
}
.mod_data .data{
	color: #666;
	font-size: 0.90em;
	display: block;
}
.mod_data .data span{
	display: block;
}
.rmc_item_module .options{
	font-size: 0.85em;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.rmc_item_module .options a{
	text-align: center;
	display: block;
}
.rmc_item_module .options a img{
	display: block;
	text-align: center;
	margin: 0 auto 3px auto;
}
.rmc_item_module .data_storage{
	display: none;
}
#data-display{
	display: none;
	position: absolute;
	width: 250px;
	background: #fff;
	border: 1px solid  #999;
	box-shadow: 5px 5px 1px #ccc;
	-moz-box-shadow: 5px 5px 1px #ccc;
	-webkit-box-shadow: 5px 5px 1px #ccc;
}
#data-display .mod_image{
	float: left;
	margin: 0 5px 0 0;
}
#data-display .data_head{
	background: #e8e8e8;
	padding: 5px;
	border-bottom: 1px solid #999;
	-moz-border-radius: 5px 5px 0 0;
    -khtml-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}
#data-display .data_head .name{
	font-family: georgia, times, serif;
	font-size: 1.2em;
	display: block;
	padding: 5px 0 0 0;
}
#data-display .data_head .mod_image a{
	display: block;
	width: 32px;
	height: 32px;
	border: 1px solid #ccc;
}
#data-display .data_head .mod_image a span{
	display: block;
	width: 30px;
	height: 30px;
	border: 1px solid #FFF;
}
#data-display .data_description{
	background: #f4f4f4;
	padding: 5px;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #CCC;
	color: #666;
	font-size: 0.9em;
}
#data-display .data_values{
	padding: 10px 5px 10px 10px;
    border-bottom: 1px solid #CCC;
}
#data-display .data_values a{
	text-decoration: underline;
}
#data-display .data_values table td{
	padding: 3px;
	vertical-align: top;
}
#data-display .data_values table tr td:first-child{
	color: #666;
}
#data-display .data_buttons{
    padding: 5px;
    background: #EAF3FA;
    border-top: 1px solid #FFF;
    -moz-border-radius: 0 0 5px 5px;
    -khtml-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    font-size: 0.9em;
    overflow: hidden;
}
#data-display .data_buttons a{
    display: block;
    padding: 0 3px;
    float: left;
    border-right: 1px solid #B8D8EF;
    border-left: 1px solid #FFF;
}
#data-display .data_buttons a:first-child{
    border-left: 0;
}
#data-display .data_buttons a:last-child{
    border-right: 0;
}
.mod_preinstall_container{
    overflow: hidden;
}
.mod_preinstall_container .left{
    float: left;
    width: 40%;
    margin-right: 20px;
}
.mod_preinstall_container .th a{
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: url(../images/down.png) no-repeat center;
    text-decoration: none;
}
.mod_preinstall_container .th a:hover{
    text-decoration: none;
}
.mod_preinstall_container .container_hidden{
    display: none;
    line-height: 130%;
}
.mod_preinstall_container .descriptions{
    color: #666;
    font-size: 0.9em;
}
.mod_preinstall_container .left h2{
    margin: 0 0 10px 0;
    font-family: georgia, times, serif;
    font-weight: normal;
    font-style: italic;
}
.mod_preinstall_container .mod_data_container{
	line-height: 130%;
	font-size: 0.9em;
}
.mod_preinstall_container .mod_data_container table td{
	padding: 3px;
	vertical-align: top;
}
.mod_data_container input{
	font-size: 1.5em;
}
.mod_options{
    padding: 10px 0;
    font-weight: bold;
}
.mod_log{
    max-height: 500px;
    overflow: auto;
    background: #f4f4f4;
    border: 1px solid #CCC;
    padding: 10px;
}
.mod_log strong{
    color: #BB5E00;
}

/* Rename */
#rename-blocker{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	display: none;
}
#rename{
	position: absolute;
	width: 380px;
	padding: 10px;
	background: #FFF;
	height: 100px;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -190px;
	line-height: 150%;
	border: 1px solid #000;
	box-shadow: 5px 5px 1px #000;
	-moz-box-shadow: 0px 0px 15px #000;
	-webkit-box-shadow: 5px 5px 1px #000;
	display: none;
}
#rename span{
	display: block;
	padding: 2px 0;
	margin-bottom: 10px;
}
#rename span span{
	font-weight: bold;
	font-size: 1.2em;
	display: inline;
}
#rename input[type=text]{
	font-size: 1.3em;
	font-family: arial, helvetica, sans-serif;
	width: 350px;
	margin-bottom: 10px;
}