<div id="bbOptions">
	<{foreach item=info from=$options}>
		<a href="<{$info.link}>" title="<{$info.text}>">
			<img src="<{$info.icon}>" alt="<{$info.text}>" />
			<{$info.text}>
			<span class="bbOptionsInfo"><{$info.info}></span>
		</a>
	<{/foreach}>
</div>
<div id="bbVersionPosts">
	<h2><{$lang_lasttopics}></h2>
	<ul id="bbRecents">
	<{foreach item=topic from=$topics}>
		<li><strong><a href="../topic.php?id=<{$topic.id}>"><{$topic.title}></a></strong>
		    <{$topic.text}><br />
		    <span><{$topic.posts.date}> &nbsp;
		    <{$topic.posts.by}></span>
		</li>
	<{/foreach}>
	</ul>

	<h2><{$lang_versions}></h2>
	<div id="versionInfo">
	
	</div>
</div>