.mch_options{
    padding: 5px 10px 5px 0;
    overflow: hidden;
}
div.rmc_pages_navigation_container{
    float: right;
}
.mch_teams_field{
    padding: 2px;
    overflow: hidden;
    cursor: pointer;
    border: 1px dashed #FFF;
}
.mch_teams_field:hover{
    background: #f2f2f2;
    border: 1px dashed #d0d0d0;
}
.mch_teams_field img{
    float: left;
    margin: 0 5px 0 0;
}
.mch_teams_field img.logo{
    width: 50px;
    padding: 1px;
    border: 1px solid #CCC;
}
.mch_teams_field .noselected{
    display: block;
    color: #666;
    font-style: italic;
}
.mch_teams_field strong{
    display: block;
    margin: 0 0 2px 0;
}
.mch_teams_field span{
    display: block;
    font-size: 0.9em;
    color: #666;
}
.mch_teams_field span.date{
    display: block;
    color: #999;
    font-size: 0.85em;
}
.mch_teams_pop{
    display: none;
    background: #f2f2f2;
    border: 1px solid #CCC;
    border-radius: 8px;
    -moz-border-radius: 8px;
    padding: 10px;
}
.mch_teams_pop .mch_tf_icontainer{
    max-height: 300px;
    overflow: auto;
}
.mch_teams_pop .loader{
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -16px;
}
.mch_tf_item{
    float: left;
    width: 200px;
    margin: 0 5px 5px 0;
    height: 45px;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
}
.mch_tf_item img{
    float: left;
    width: 40px;
    border: 1px solid #ccc;
    padding: 1px;
    margin: 0 5px 0 0;
}
.mch_tf_item strong{
    color: #000;
    display: block;
    margin: 0 0 2px 0;
}
.mch_tf_item span{
    display: block;
    color: #666;
    font-size: 0.85em;
}
.mch_tf_item span.date{
    display: block;
    color: #999;
    font-size: 0.85em;
}
.mch_tf_item:hover{
    background: url(../images/trans.png);
}
.mch_tf_item:hover strong{
    color: #FFF;
}
.mch_tf_item:hover span{
    color: #CCC;
}
.mch_tf_item:hover span.date{
    color: #999;
}
.mch_pbirth{
    display: block;
    padding: 2px 0;
    font-size: 0.75em;
    text-transform: uppercase;
    color: #666;
    cursor: default;
}
.players_filters{
    padding: 5px;
    background: #f2f2f2;
    border: 1px dashed #CCC;
    border-radius: 8px;
    -moz-border-radius: 8px;
    margin-top: 4px;
}

/* Championships */
#mch-champform{
    width: 300px;
    float: left;
}
#mch-champform label{
    padding: 0 0 4px 0;
    display: block;
}
#mch-champform input[type='text']{
    width: 95%;
    margin-bottom: 5px;
}
#mch-champtable{
    margin-left: 320px;
}
.mch_bc_role{
    padding: 6px;
    font-size: 0.75em;
    text-transform: uppercase;
    color: #006B9F;
}
.mch_bc_role .msg{
    color: #FF5809;
}

/* Role Play */
#mch-rnform{
    margin-bottom: 8px;
}
#mch-rnform select{
    width: 130px;
}
#mch-rnform option.disabled{
    color: #666;
    font-style: italic;
}
#local-data img.logo,
#visitor-data img.logo{
    height: 80px;
    border: 1px solid #CCC;
    padding: 1px;
}
#local-data span,
#visitor-data span{
    font-weight: bold;
    display: block;
    padding: 3px;
}
#mch-rndata{

}
tr.title td{
    color: #FB5200;
    padding: 3px;
    text-transform: uppercase;
    font-size: 0.9em;
    background: #ebebeb;
    border-bottom: 1px dotted #CCC;
}
.played{
    color: #0A80A7;
}
.tplayed{
    text-decoration: line-through;
    color: #FB5200;
}
.pending{
    text-transform: uppercase;
    color: #FB5200;
    font-size: 0.8em;
}
.score_editor{
    background: #0A80A7;
}
.score_editor td{
    padding: 4px;
    font-size: 0.9em;
    color: #FFF;
}
.empty{
    background: #0A80A7;
}
.score_leg{
    font-size: 0.9em;
    color: #666;
}
.role_form_tr td{
    font-size: 0.9em;
    padding: 2px 4px;
    background: #f2f2f2;
}
.position{
    font-size: 2em;
    font-weight: bold;
    font-family: georgia, times, serif;
}
.teamd{
    font-size: 1.1em;
}
.teamd img{
    width: 60px;
    padding: 1px;
    background: #FFF;
    box-shadow: 0 0 10px #000;
}
.teamd strong{
    display: block;
    padding: 4px 0;
}