div#ahHeader{
	line-height: 130%;
	overflow: hidden;
    padding: 2px 2px 4px 2px;
}
div#ahHeader h1{
	margin: 0 0 5px 0;
}
div#ahHeader div.ahNewResource{
	padding: 4px 0;
	margin-bottom: 5px;
	line-height: 170%;
}
div#ahHeader div.ahSearch{
	float: right; 
	text-align: right;
	padding: 4px;
}
div.ah_home_text{
	margin-bottom: 10px;
}
div.ahIndexTop{
	margin-bottom: 20px;
}
img.ahItemImage{
    float: left;
    margin: 0 5px 5px 0;
}
div.ahIndexMiddle{
    margin-bottom: 20px;
}
div.ah_item_list{
    overflow: hidden;
    margin-bottom: 10px;
}

span.ahInfoItem{
	font-size: 0.8em;
	color: #666;
}
span.ahInfoItem a{
	display: compact;
}
div#ahFooter{
	padding: 4px;
	margin-top: 20px;
	text-align: center;
}
div#ahLocation{
	padding: 4px;
	border: 1px solid #CCC;
	background-color: #f2f2f2;
}

/** INDICE RÁPIDO **/
div.ahQuickIndex{
	padding: 4px 4px 4px 30px;
}
ol#ahQuickList{
	padding: 0;
	list-style: none;
}
ol#ahQuickList li{
	padding: 3px;
}
ol#ahQuickList li a{
	display: block;
	padding: 3px 0 3px 0;
	font-size: 16px;
	font-weight: bold;
}

/** CONTENIDOS **/
div#ahDocInfo{
	padding: 4px;
	border: 1px solid #CCC;
	border-bottom: 0;
	background-color: #f2f2f2;
	overflow: hidden;
}
div#ahDocInfo div.ahSecIndex{
	padding: 0;
	float: right;
}
div.ahSecIndex span{
	display: block;
	padding: 3px;
	border-bottom: 1px dotted #999;
	font-weight: bold;
	font-size: 13px;
}
ul.ahIndexList{
	list-style: none;
	padding: 0;
	margin: 0;
}
ul.ahIndexList li{
	background: url(../images/bullet.png) no-repeat left 7px;
	padding: 2px 2px 2px 10px;
}
ul.ahIndexList li.content{
	background: url(../images/root.png) no-repeat left 7px;
}
div.ahCTitle{
	overflow: hidden;
	margin: 30px 0 10px 0;
}
div.ahCTitle h2{
	float: left;
	margin: 0;
	background-color: #fff;
	padding: 0 3px 0 0;
}
div.ahContentOptions{
	float: right;
	font-size: 11px;
	padding: 5px 0px 3px 5px;
	background-color: #FFF;
    border-bottom: 1px double #CCC;
}
div.ahPrintEmail{
	padding: 4px;
	text-align: right;
	border-bottom: 1px dotted #999;
}
div.ahSecRating{
	padding: 8px;
	border-bottom: 1px dotted #999;
}
*html div.ahSecRating table{
	width: auto;
	font-size: 12px;
}
div.ahSecDesc{
	padding: 8px;
	border-bottom: 1px dotted #999;
	font-size: 13px;
	color: #666;
}
div.ahInfoBottom{
    height: 14px;
    padding: 0;
    margin: 0;
    background: url(../images/picobg.png) repeat-x top;
    text-align: right;
}
div.ahMoreInfo{
    text-align: right;
    padding: 0 30px 0 0;
}
div#ahAllIndex{
    display: none;
}

/** INDICE DE RECURSOS **/
ul#ahResIndex{
	list-style: none;
}
ul#ahResIndex li{
	padding: 3px;
	font-size: 12px;
}
ul#ahResIndex li h3{
	margin: 0px;
	padding: 0;
}

div#ahResAll{
	margin-top: 10px;
	margin-left: 15px;
}
/** PUBLICACIONES RECOMENDADAS **/
div#ahRecommends{
	float: right;
	width: 50%;
}

/** NAVEGACIÓN **/
div.ahNavInfo{
	padding: 4px;
	border-bottom: 1px dotted #999;
	/*overflow: hidden;*/
	color: #FF6600;
}
div.ahNavInfo div.ahPrevious{
	float: left;
	font-size: 13px;
}
div.ahNavInfo div.ahNext{
	float: right;
	font-size: 13px;
}
div.ahNavInfo div.ahIndex{
	text-align: center;
	font-size: 13px;
}

/** REFERENCIAS **/
div#ahelpRefs{
	border: 1px solid #666;
	background-color: #FFFFC0;
	padding: 5px;
	width: 300px;
	text-align: center;
}
div#ahRefsContainer{
	-moz-column-count:2;
	column-count:2
}
div#ahRefsContainer li{
	padding: 2px;
	
}
div.ahFigureFoot{
    background-color: #f2f2f2;
    padding: 2px;
    border-top: 1px solid #ccc;
}
a.addpage{
	background: url(../images/newpage.gif) no-repeat left;
	display: block;
	float: right;
	padding: 2px 0 2px 18px;
}
span.ah_search_info{
	font-size: 0.85em;
	color: #666;
}
td.ah_data_res{
	color: #333;
	font-size: 0.85em;
}
span.block_index_item{
	display: block;
	padding: 2px 0;
}
div.ah_no_content{
    background: #FFFFC0;
    padding: 10px;
    border: 1px solid #FEE2A9;
    color: #000;
    text-align: center;
}