body{
	background-color: #FFF;
	margin: 10px;
	font-family: Arial, helvetica, sans-serif;
	font-size: 12px;
}
a{
	/*border-bottom: 1px dotted #333;*/
	text-decoration: none;
}
a img{
	border: 0;
	border-bottom: 0;
}
div.print_from{
	padding: 10px;
	margin-bottom: 10px;
	border: 1px dashed #CCC;
	background: #f2f2f2;
}
div#ahHeader{
	line-height: 130%;
	overflow: hidden;
	border-bottom: 4px solid #ccc;
    padding: 2px 2px 4px 2px;
}
div#ahHeader h1{
	margin: 0 0 5px 0;
}
div#ahHeader div.ahNewResource{
	display: none;
}
div#ahHeader div.ahSearch{
	display: none;
}
div#ahIndex{
	overflow: hidden;
	margin-bottom: 20px;
	
}
div#ahIndex div.ahResIndex{
	float: left;
	width: 45%;
}
div#ahIndex h2{
	margin: 0 0 10px 0;
}
ul#ahList{
	margin: 0;
	padding: 0 0 0 10px;
	list-style: none;
}
ul#ahList li{
	padding: 4px;
	font-size: 11px;
}
ul#ahList li a{
	display: block;
	font-size: 12px;
	font-weight; bold;
}
div#ahFooter{
	padding: 4px;
	margin-top: 20px;
	text-align: center;
}
div#ahLocation{
	padding: 4px;
	border: 1px solid #CCC;
	background-color: #f2f2f2;
}

/** INDICE RÁPIDO **/
div.ahQuickIndex{
	padding: 4px 4px 4px 30px;
}
ol#ahQuickList{
	padding: 0;
	list-style: none;
}
ol#ahQuickList li{
	padding: 3px;
}
ol#ahQuickList li a{
	display: block;
	padding: 3px 0 3px 0;
	font-size: 16px;
	font-weight: bold;
}

/** CONTENIDOS **/
div#ahDocInfo{
	display: none;
}
div#ahSingleContent div.ahContentTitle{
	overflow: hidden;
	margin: 30px 0 30px 0;
}
div.ahContentTitle h1{
	margin: 0;
	float: left;
	background-color: #fff;
	padding: 0 3px 0 0;
}
div.ahCTitle{
	overflow: hidden;
	margin: 30px 0 10px 0;
}
div.ahCTitle h2{
	float: left;
	margin: 0;
	background-color: #fff;
	padding: 0 3px 0 0;
}
div.ahBorder{
	border-bottom: 1px solid #CCC;
}
div.ahContentOptions{
	display: none;
}
div.ahPrintEmail{
	padding: 4px;
	text-align: right;
	border-bottom: 1px dotted #999;
	display: none;
}
div.ahSecRating{
	padding: 8px;
	border-bottom: 1px dotted #999;
}
*html div.ahSecRating table{
	width: auto;
	font-size: 12px;
}
div.ahSecDesc{
	padding: 8px;
	border-bottom: 1px dotted #999;
	font-size: 13px;
	color: #666;
}
div.ahInfoBottom{
    display: none;
}
div.ahMoreInfo{
    text-align: right;
    padding: 0 30px 0 0;
}
div#ahAllIndex{
    display: none;
}

/** INDICE DE RECURSOS **/
ul#ahResIndex{
	list-style: none;
}
ul#ahResIndex li{
	padding: 3px;
	font-size: 12px;
}
ul#ahResIndex li h3{
	margin: 0px;
	padding: 0;
}
/** NAVEGACIÓN **/
div.ahNavInfo{
	padding: 4px;
	border-bottom: 1px dotted #999;
	/*overflow: hidden;*/
	color: #FF6600;
}
div.ahNavInfo div.ahPrevious{
	float: left;
	font-size: 13px;
}
div.ahNavInfo div.ahNext{
	float: right;
	font-size: 13px;
}
div.ahNavInfo div.ahIndex{
	text-align: center;
	font-size: 13px;
}
div.ahPrintInfo{
	padding: 4px;
	border-bottom: 1px dotted #999;
	font-size: 12px;
}

/** REFERENCIAS **/
div#ahelpRefs{
	border: 1px solid #666;
	background-color: #FFFFC0;
	padding: 5px;
	width: 300px;
	text-align: center;
}
div#ahRefsContainer{
	-moz-column-count:2;
	column-count:2
}
div#ahRefsContainer li{
	padding: 2px;
	
}
div.ahFigureFoot{
    background-color: #f2f2f2;
    padding: 2px;
    border-top: 1px solid #ccc;
}
div#xo-logger-output{
	display: none;
}
span.block_index_item{
	display: block;
	padding: 2px 0;
}
span.block_index_item a{
	color: #000;
}