/*
$Id$
*/
#mw_widgets_container{
    overflow: hidden;
    padding: 10px;
}
#mw_widgets_container .mw_right_widgets{
    float: right;
    width: 48%;
}
#mw_widgets_container .mw_left_widgets{
    float: left;
    width: 48%;
}
.mw_qrdata td{
	padding: 4px;
	border-bottom: 1px dotted #CCC;
	font-size: 1.1em;
}
.mw_qrdata td span{
	font-family: georgia, times, serif;
    font-size: 1.4em;
}