/*
$Id$
*/
#mw_widgets_container{
    overflow: hidden;
    padding: 10px;
}
#mw_widgets_container .mw_right_widgets{
    float: right;
    width: 48%;
}
#mw_widgets_container .mw_left_widgets{
    float: left;
    width: 48%;
}
.mw_qrdata td{
	padding: 4px;
	border-bottom: 1px dotted #CCC;
	font-size: 1.4em;
	font-family: Georgia, times, serif;
}
.mw_qrdata td span{
	color: #CC4E02;
	font-family: "Trebuchet MS", arial, helvetica, sans-serif;
}