/** Titles **/
.rmc_titles span{
	display: block;
	float: left;
	width: 32px;
	height: 32px;
	background: url(../images/icons32.png) no-repeat;
	margin: 0 5px 0 0;
}

.pw_options{
	padding: 5px;
	overflow: hidden;
}
#pw-right-table{
	float: right;
	width: 65%;
}
#pw-left-form{
	float: left;
	width: 32%;
}
#pw-left-form h3{
	font-size: 1.4em;
	font-weight: bold;
	margin: 0 0 10px 0;
}
#pw-left-form label{
	display: block;
	padding: 0 0 3px 0;
}
#pw-left-form input[type='text']{
	width: 90%;
	display: block;
	margin: 0 0 5px 0;
}
#pw-left-form input[type='file']{
	width: 90%;
	display: block;
	margin: 0 0 5px 0;
}
#pw-left-form textarea{
	width: 90%;
	margin: 0 0 5px 0;
}
div.rmc_pages_navigation_container{
    float: right;
}