#works-dash-right{
	width: 40%;
	float: right;
	overflow: hidden;
}
#works-dash-left{
	width: 58%;
	float: left;
	overflow: hidden;
}
.works_widget{
	overflow: hidden;
	margin: 0 0 10px 0;
	padding: 1px;
}
.works_widget .widget_content{
	padding: 6px;
	overflow: hidden;
}
.widget_content form label{
	display: block;
	font-weight: bold;
	padding: 2px 0;
	cursor: pointer;
}
.widget_content form input[type='text']{
	width: 95%;
	margin: 0 0 5px 0;
}
.widget_content form textarea{
	width: 95%;
	height: 80px;
	margin: 0 0 5px 0;
}
.qoverview{
	font-size: 1.1em;
}
.qoverview span{
	font-size: 1.5em;
	font-family: georgia, times, serif;
	display: block;
	float: left;
	margin: -6px 5px 0 0;
}
div.even{
	line-height: 130%;
}
.pw_descriptions{
	color: #666;
	font-size: 0.9em;
	display: block;
}
.pw_dates{
	font-size: 0.9em;
	font-style: italic;
}