<div class="even">
<a href="javascript:;" onclick="centerWindow(openWithSelfMain('<{$xoops_url}>/modules/dtransport/include/dtlistsoft.php?parent=<{$parent}>','listsoft',500,300,true),500,300);"><{$lang_listsoft}></a>
</div><br />
<{if $item}>
<form name="frmscreen" method="POST" action="screens.php">
<table class="outer" width="100%" cellspacing="1">
	<tr>
		<th colspan="6"><{$lang_exists}></th>
	</tr>
	<tr class="head" align="center">
		<td width="20"><input type="checkbox" name="checkAll" onclick="xoopsCheckAll('frmscreen','checkAll')" /></td>
		<td><{$lang_id}></td>
		<td><{$lang_title}></td>
		<td><{$lang_desc}></td>
		<td><{$lang_software}></td>
		<td><{$lang_options}></td>
	</tr>
	<{foreach item=screen from=$screens}>
	<tr class="<{cycle values='even,odd'}>">
		<td><input type="checkbox" name="id[]" value="<{$screen.id}>" /></td>
		<td align="center" width="20"><strong><{$screen.id}></strong></td>
		<td><{$screen.title}></td>
		<td><{$screen.desc}></td>
		<td><{$screen.software}></td>
		<td align="center"><a href="./screens.php?op=edit&amp;id=<{$screen.id}>&amp;item=<{$item}>"><{$lang_edit}></a>  &bull; <a href="./screens.php?op=delete&amp;id=<{$screen.id}>&amp;item=<{$item}>"><{$lang_del}></a></td>
	</tr>
	<{/foreach}>
	<tr class="foot">
		<td align="right"><img src="<{$xoops_url}>/images/root.gif" border="0" /></td>
		<td colspan="5">
			<input type="submit" class="formButton" value="<{$lang_del}>" onclick="document.forms['frmscreen'].elements['op'].value='delete'" />
		</td>
	</tr>
</table>
<input type="hidden" name="op" />
<input type="hidden" name="item" value="<{$item}>" />
</form>
<{else}>
	<strong><{$lang_selectitem}></strong>
<{/if}>
