<form name="frmNav" method="POST" action="clients.php">
	<table width="100%" cellspacing="1" class="outer">
		<tr>
			<td><{$lang_showing}></td>
			<td><input type="text" name="limit" value="<{$limit}>" size="3" />
			    <input type="submit"  value="<{$lang_submit}>" class="formButton" />
			</td>
			<td width="34%" align="right"><{$clientsNavPage}></td>
		</tr>
	</table>
</form>
<form name="frmClients" method="POST" action="clients.php">
<table width="100%" cellspacing="1" class="outer">
	<tr>
		<th colspan="6"><{$lang_exist}></th>
	</tr>
	<tr class="head" align="center">	
		<td width="20"><input type="checkbox" name="checkAll" onclick="xoopsCheckAll('frmClients','checkAll')" /></td>
		<td width="30"><{$lang_id}></td>
		<td><{$lang_name}></td>
		<td><{$lang_business}></td>
		<td><{$lang_type}></td>
		<td><{$lang_options}></td>
	</tr>
	<{foreach item=client from=$clients}>
	<tr class="<{cycle values='even,odd'}>" align="center">
		<td><input type="checkbox" name="ids[]" value="<{$client.id}>" /></td>
		<td><strong><{$client.id}></strong></td>
		<td align="left"><{$client.name}></td>
		<td align="left"><{$client.business}></td>
		<td><{$client.type}></td>
		<td><a href="./clients.php?op=edit&amp;id=<{$client.id}>&amp;pag=<{$pag}>&amp;limit=<{$limit}>"><{$lang_edit}></a> &bull; <a href="./clients.php?op=delete&amp;ids=<{$client.id}>&amp;pag=<{$pag}>&amp;limit=<{$limit}>"><{$lang_delete}></a></td>
	</tr>
	<{/foreach}>
	<tr class="foot">
		<td align="right"><img src="<{$xoops_url}>/images/root.gif" /></td>
		<td colspan="5">
			<input type="submit" class="formButton" value="<{$lang_delete}>" onclick="document.forms['frmClients'].op.value='delete';" />
		</td>
	</tr>
</table>
<input type="hidden" name="op" />
<input type="hidden" name="pag" value="<{$pag}>" />
<input type="hidden" name="limit" value="<{$limit}>" />
</form>
