<form name="frmNav" id="frmNav" method="get" action="images.php">
	<table class="outer" width="100%" cellspacing="1">
		<tr class="even">
			<td><{$lang_showing}></td>
			<td width="60%" align="right"><{$imgsNavPage}></td>
		</tr>
		<tr class="evenSearch">
			<td colspan="2">
				<table cellspacing="1" cellpadding="2" border="0">
					<tr class="searchImages">
						<td>
						<{$lang_results}> <input type="text" size="5" name="limit" value="<{$limit}>" />
						&nbsp; <{$lang_search}> <input type="text" size="20" name="search" value="<{$search}>" />
						</td>
						<td><{$lang_indate}> <{$mindate_field}> <{$lang_and}> <{$maxdate_field}></td>
						<td><{$user_field}></td>
						<td><input type="submit" value="<{$lang_submit}>" class="formButton" /></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</form>
<form name="frmImgs"  method="POST" action="images.php">
<table width="100%" class="outer" cellspacing="1">
	<tr>
		<th colspan="5"><{$lang_exist}></th>
		<th colspan="3"><div id="gsPrivacyInfo">
			<img src="<{$xoops_url}>/modules/galleries/images/public.png" align="absmiddle" /><{$lang_publicimg}> |
			<img src="<{$xoops_url}>/modules/galleries/images/private.png" align="absmiddle" /><{$lang_nopublicimg}> |
			<img src="<{$xoops_url}>/modules/galleries/images/faccess.png" align="absmiddle" /><{$lang_privatef}> 
		</div></th>
	</tr>
	<tr class="head" align="center">
		<td width="20"><input type="checkbox" name="checkall" onchange="xoopsCheckAll('frmImgs','checkall');" /></td>
		<td width="30"><a href="./images.php?pag=<{$pag}>&amp;limit=<{$limit}>&amp;&amp;owner=<{$owner}>search=<{$search}>&amp;sort=id_image&amp;mode=<{if $sort=='id_image'}><{if $mode==1}>0<{else}>1<{/if}><{else}>0<{/if}>"><{$lang_id}></a></td>
		<td>&nbsp;</td>
		<td><a href="./images.php?pag=<{$pag}>&amp;limit=<{$limit}>&amp;owner=<{$owner}>&amp;search=<{$search}>&amp;sort=title&amp;mode=<{if $sort=='title'}><{if $mode==1}>0<{else}>1<{/if}><{else}>0<{/if}>"><{$lang_title}></a></td>
		<td><a href="./images.php?pag=<{$pag}>&amp;limit=<{$limit}>&amp;owner=<{$owner}>&amp;search=<{$search}>&amp;sort=public&amp;mode=<{if $sort=='public'}><{if $mode==1}>0<{else}>1<{/if}><{else}>0<{/if}>"><{$lang_public}></a></td>
		<td><a href="./images.php?pag=<{$pag}>&amp;limit=<{$limit}>&amp;owner=<{$owner}>&amp;search=<{$search}>&amp;sort=created&amp;mode=<{if $sort=='created'}><{if $mode==1}>0<{else}>1<{/if}><{else}>0<{/if}>"><{$lang_date}></a></td>
		<td><a href="./images.php?pag=<{$pag}>&amp;limit=<{$limit}>&amp;owner=<{$owner}>&amp;search=<{$search}>&amp;sort=owner&amp;mode=<{if $sort=='owner'}><{if $mode==1}>0<{else}>1<{/if}><{else}>0<{/if}>"><{$lang_owner}></a></td>
		<td><{$lang_options}></td>
	</tr>
	<{foreach item=img from=$images}>
	<tr class="<{cycle values='even,odd'}>" align="center">
		<td><input type="checkbox" name="ids[]" value="<{$img.id}>" /></td>
		<td><strong><{$img.id}></strong></td>
		<td width="50" class="listimg"><a href="<{$img.link}>"><img src="<{$img.image}>" alt="" /></a></td>
		<td align="left"><a href="<{$img.link}>"><strong><{$img.title}></strong></a>
			<{if $img.desc!=''}><span class="imgDesc"><br /><{$img.desc}></span><{/if}></td>
		<td><{if $img.public==2}><img src="<{$xoops_url}>/modules/galleries/images/public.png" title="<{$lang_publicimg}>"/><{elseif $img.public==1}><img src="<{$xoops_url}>/modules/galleries/images/faccess.png" title="<{$lang_privatef}>" /><{else}><img src="<{$xoops_url}>/modules/galleries/images/private.png" title="<{$lang_nopublicimg}>" /><{/if}></td>
		<td nowrap="nowrap"><{$img.created}></td>
		<td><{$img.owner}></td>
		<td nowrap="nowrap"><a href="./images.php?op=edit&amp;id=<{$img.id}>&amp;pag=<{$pag}>&amp;limit=<{$limit}>&amp;search=<{$search}>&amp;owner=<{$owner}>&amp;sort=<{$sort}>&amp;mode=<{$mode}>"><{$lang_edit}></a> &bull; <a href="./images.php?op=delete&amp;ids=<{$img.id}>&amp;pag=<{$pag}>&amp;limit=<{$limit}>&amp;search=<{$search}>&amp;sort=<{$sort}>&amp;mode=<{$mode}>"><{$lang_del}></a></td>
	</tr>
	<{/foreach}>
	<tr class="foot">
		<td align="right"><img src="<{$xoops_url}>/images/root.gif" /></td>
		<td colspan="8">
			<input type="submit" class="formButton" value="<{$lang_del}>" onclick="document.forms['frmImgs'].op.value='delete'"/>
			<input type="submit" class="formButtonBlue" value="<{$lang_publicimg}>" onclick="document.forms['frmImgs'].op.value='public'"/>
			<input type="submit" class="formButtonRed" value="<{$lang_nopublicimg}>" onclick="document.forms['frmImgs'].op.value='private'"/>
			<input type="submit" class="formButtonGreen" value="<{$lang_privatef}>" onclick="document.forms['frmImgs'].op.value='privatef'"/>
		</td>

	</tr>
</table>
<input type="hidden" name="op" id="op" />
<input type="hidden" name="pag" value="<{$pag}>" />
<input type="hidden" name="limit" value="<{$limit}>" />
<input type="hidden" name="search" value="<{$search}>" />
<input type="hidden" name="owner" value="<{$owner}>" />
<input type="hidden" name="sort" value="<{$sort}>" />
<input type="hidden" name="mode" value="<{$mode}>" />
</form>
<table class="outer" width="100%" cellspacing="1">
		<tr class="even">
			<td><{$lang_showing}></td>
			<td width="60%" align="right"><{$imgsNavPage}></td>
		</tr>
		
</table>
