<form name="frmnav" method="POST" action="postcards.php">
<table class="outer" cellspacing="1" width="100%">
	<tr class="even">
		<td><{$lang_showing}></td>
		<td align="center">
			<input type="text" name="limit" value="<{$limit}>" size="5" />
			<input type="submit" class="formButton" value="<{$lang_submit}>" />
		</td>
		<td align="right" width="33%">
			<{$postNavPage}>
		</td>
	</tr>
</table>
</form>
<form name="frmPost"  method="POST" action="postcards.php">
<table class="outer" width="100%" cellspacing="1">
	<tr>
		<th colspan="7"><{$lang_exist}></th>
	</tr>
	<tr class="head" align="center">
		<td width="20"><input type="checkbox" name="checkall" onchange="xoopsCheckAll('frmPost','checkall');" /></td>
		<td width="30"><{$lang_id}></td>
		<td><{$lang_title}></td>
		<td><{$lang_date}></td>
		<td><{$lang_remit}></td>
		<td><{$lang_view}></td>
		<td><{$lang_options}></td>
	</tr>
	<{foreach item=post from=$posts}>
	<tr class="<{cycle values='even,odd'}>" align="center">	
		<td><input type="checkbox" name="ids[]" value="<{$post.id}>" /></td>
		<td><strong><{$post.id}></strong></td>
		<td align="left"><a href="<{$post.link}>"><{$post.title}></a></td>
		<td><{$post.date}></td>
		<td><{$post.name}></td>
		<td><{$post.view}></td>
		<td><a href="./postcards.php?op=delete&amp;ids=<{$post.id}>&amp;pag=<{$pag}>&amp;limit=<{$limit}>"><{$lang_del}></a></td>
	</tr>
	<{/foreach}>
	<tr class="foot">
		<td align="right"><img src="<{$xoops_url}>/images/root.gif" /></td>
		<td colspan="6">
			<input type="submit" value="<{$lang_del}>" class="formButton" onclick="document.forms['frmPost'].op.value='delete';" />
		</td>

	</tr>
</table>
<input type="hidden" name="op" />
<input type="hidden" name="limit" value="<{$limit}>" />
</form>
