/* CSS Document */

div#bxpressOptions{
	padding: 4px;
	margin-top: 10px;
	min-height: 20px;
}
div#bxpressOptions div.topics{
	float: right;
	text-align: right;
}
div#bxpressOptions div.topics a{
	padding: 3px 3px 3px 20px;
}
div#bxpressOptions a.newtopic{
	background: url(../images/newtopic.png) no-repeat left;
}
div#bxpressOptions a.reply{
    background: url(../images/reply.png) no-repeat left;
}
td.lighter{
	color: #666;
}
div.bxpressIcons{
	font-size: 11px;
	color: #666;
	padding: 4px;
	margin-top: 10px;
}
dt, dd{
	margin: 0;
}
.bbOptions{
	padding:px;
	text-align: right;
	font-size:  px;
}
.bbUserData{
	width: 150px;
	padding: 4px 4px 4px 20px;
}
dl dd.bbOnline{
	font-weight: bold;
	color: #000;
}
dl dd.bbOffline{
	font-weight: bold;
	color: #999;
}
fieldset{
	margin-top: 20px;
}
.bbwarning{
	color: #FF0000;
	font-size: 12px;
}
.bbouter{
	border: 1px solid #c8c8c8;
	padding: 1px;
}
.bbouter .odd{
	min-height: 18px;
	padding: 4px;
}
.bbouter a{
	text-decoration: underline;
}
.bbcomboforums{
	float: right;
	
}
div.bbPowered{
	padding: 8px;
	text-align: center;
	margin-top: 10px;
	line-height: 150%;
}
.bbNavPages{
	float: left;
	margin-right: 40px;
}
.bbAnnouncement{
	padding:1px;
	background-color: #c8c8c8;
	margin-bottom: 10px;
}
.bbAnnHead{
	background-color: #ebebeb;
	padding: 4px;
	font-weight: bold;
	font-size: 1.1em;
	border-bottom: 1px solid #c8c8c8;
}
.bbAnnBody{
	padding: 10px;
	background-color: #fff;
}