div#qpOptions{
	padding: 6px;
	max-width: 420px;
	*width: 420px;
	float: left;
	margin-right: 10px;
}
div#qpOptions a{
	width: 120px;
	height: 100px;
	display: block;
	float: left;
	padding: 5px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	margin: 3px;
	background: url(../../system/images/bgoptions.png) no-repeat 0 115px;
}
div#qpOptions a img{
	border: 0;
	margin: 4px auto 8px auto;
	display: block;
}
div#qpOptions a span{
	font-size: 0.85em;
	font-weight: normal;
	display: block;
	color: #ff4400;
}
div#qpOptions a:hover{
	background-position: 0 0;
	/*border: 1px solid #ccc;*/
}
div#qpOptions a:hover span{
	color: #333;
	text-decoration: underline;
}
div#qpVersionPages{
	font-size: 0.9em;
	padding: 0 5px 0 30px;
	height: 100%;
	margin-left: 420px;
	border-left: 2px solid #c8c8c8;
	margin-bottom: 20px;
}
div#qpVersionPages div#xo-logger-output{
	display: none;
}
ul#qpRecents{
	margin: 0;
	padding: 0;
	list-style: none;
}
ul#qpRecents li{
	list-style: none;
	margin-bottom: 10px;
	font-size: 0.9em;
	color: #333;
}
ul#qpRecents li a{
	color: #FF4400;
	display: block;
	padding: 3px 0 3px 0;
}
ul#qpRecents li span{
	font-size: 0.95em;
	color: #666;
	border-bottom: 1px dashed #ebebeb;
	display: block;
	padding: 4px 0 4px 0;
}
