<form name="frmSites" method="post" action="bookmarks.php" id="frmSites" />
<table class="outer" cellspacing="1" width="100%">
    <tr>
        <th colspan="6"><{$lang_title}></th>
    </tr>
    <tr class="head" align="center">
        <td width="20"><input type="checkbox" name="chekall" id="checkall" onclick="xoopsCheckAll('frmSites','checkall');" /></td>
        <td width="20">&nbsp;</td>
        <td align="left"><{$lang_name}></td>
        <td><{$lang_url}></td>
        <td><{$lang_active}></td>
        <td><{$lang_options}></td>
    </tr>
    <{foreach item=bm from=$bookmarks}>
        <tr align="center" class="<{cycle values="even,odd"}>">
            <td><input type="checkbox" name="bm[<{$bm.id}>]" id="bm[<{$bm.id}>]" value="<{$bm.id}>" /></td>
            <td>
                <{if $bm.icon!=''}>
                    <img src="../images/icons/<{$bm.icon}>" alt="" />
                <{else}>
                    &nbsp;
                <{/if}>
            </td>
            <td align="left">
                <strong><{$bm.name}></strong><br />
                <span style="font-size: 0.9em;"><{$bm.text}>
            </td>
            <td align="left"><{$bm.url}></td>
            <td><img src="../images/<{if $bm.active}>ok<{else}>no<{/if}>.png" alt="" /></td>
            <td>
                <a href="?op=edit&amp;id=<{$bm.id}>"><{$lang_edit}></a> &nbsp; | &nbsp; 
                <a href="?op=delete&amp;bm=<{$bm.id}>" onclick="return exmConfirmMsg('<{$lang_confdel}>\n\n<{$bm.name}>');"><{$lang_delete}></a>
            </td>
        </tr>
    <{/foreach}>
    <tr class="foot">
        <td align="right"><img src="../../system/images/root.gif" alt="" /></td>
        <td colspan="5">
            <input type="button" value="<{$lang_activate}>" class="formButtonBlue" onclick="$('op').value='activate'; submit();" />
            <input type="button" value="<{$lang_delete}>" class="formButtonRed" onclick="if(exmConfirmMsg('<{$lang_confdels}>')){ $('op').value='delete'; submit();}" />
            <input type="hidden" name="op" id="op" value="" />
        </td>
    </tr>
</table>
</form>