<form name="frmBulk" method="post" action="./posts.php?op=trackbacks" style="margin:0; padding:0;">
<table width="100%" border="0" cellspacing="1" cellpadding="0" class="outer">
  <tr>
    <th colspan="7"><{$table_title}></th>
  </tr>
  <tr class="head" align="center">
  	<td align="center" width="20"><input type="checkbox" name="checador" onchange="xoopsCheckAll('frmBulk', 'checador');" /></td>
    <td width="50"><{$lang_id}></td>
    <td><{$lang_title}></td>
    <td><{$lang_blog}></td>
    <td><{$lang_date}></td>
    <td><{$lang_url}></td>
	<td><{$lang_options}></td>
  </tr>
  <{assign var=class value="even"}>
  <{foreach item=track from=$trackbacks}>
  <tr class="<{$class}>">
  	<td align="center" rowspan="2"><input type="checkbox" name="tracks[]" value="<{$track.id}>" /></td>
    <td align="center"><strong><{$track.id}></strong></td>
    <td><strong><{$track.titulo}></strong></td>
    <td align="center"><{$track.blogname}></td>
    <td align="center"><{$track.fecha}></td>
    <td align="center"><a href="<{$track.url}>" title="<{$track.blogname}>" target="_blank"><img src="../images/<{$xoops_language}>/website.png" alt="<{$track.blogname}>" /></a></td>
	<td align="center"><a href="?op=trackbacks&amp;post=<{$post}>&amp;acc=del&amp;track=<{$track.id}>"><{$lang_delete}></a></td>
  </tr>
  <tr class="<{$class}>">
  	<td colspan="6"><span style="font-size: 0.85em;"><{$track.texto}></span></td>
  </tr>
  <{if $class=='even'}><{assign var=class value='odd'}><{else}><{assign var=class value='even'}><{/if}>
  <{/foreach}>
  <tr class="foot">
  	<td align="right"><img src="<{$xoops_url}>/images/root.gif" alt="" /></td>
  	<td colspan="6"><input type="submit" name="del" value="<{$lang_deletesel}>" class="formButton" onclick="document.forms['frmBulk'].elements['acc'].value='delbulk'; this.submit();" /></td>
  </tr>
</table>
<input type="hidden" name="acc" value="" />
<input type="hidden" name="preaction" value="<{$action}>" />
<input type="hidden" name="post" value="<{$post}>" />
</form>
