<div class="even" style="border-bottom: 0;"><{$editors_tip}></div>
<table class="outer" width="100%" cellspacing="1" cellpadding="0">
  <tr>
    <th colspan="6"><{$lang_editors}></th>
  </tr>
  <tr class="head" align="center">
    <td><{$lang_id}></td>
    <td><{$lang_uname}></td>
    <td><{$lang_joined}></td>
    <td><{$lang_postssend}></td>
    <td colspan="2"><{$lang_options}></td>
  </tr>
  <{foreach item=editor from=$editores}>
  <tr class="<{cycle values="even,odd"}>">
    <td align="center"><strong><{$editor.uid}></strong></td>
    <td><a href="<{$xoops_url}>/userinfo.php?uid=<{$editor.uid}>" title="<{$editor.uname}>"><{$editor.uname}></a></td>
    <td align="center"><{$editor.joined}></td>
    <td align="center"><strong><{$editor.envios}></strong></td>
    <td align="center"><{if $editor.email!=''}><a href="mailto:<{$editor.email}>" title="<{$editor.email}>"><img src="../images/<{$xoops_language}>/email.png" alt="" /></a><{/if}>
	<{if $editor.url!=''}><a href="<{$editor.url}>" title="<{$editor.uname}>" target="_blank"><img src="../images/<{$xoops_language}>/website.png" alt="" /></a><{/if}>
	<a href="<{$editor.link}>" title="<{$lang_seeposts}>"><img src="../images/<{$xoops_language}>/posts.png" alt=""></a></td>
	<td align="center"><{if $editor.edit}><a href="?op=del&amp;uid=<{$editor.uid}>" title="<{$lang_delete}>"><{$lang_delete}></a><{else}><{$lang_delete}><{/if}></td>
  </tr>
  <{/foreach}>
</table><br />
<{$form_editors}>
