<{if $block.showimage==0}>
<ul style="margin: 0.6em; padding: 0;">
<{foreach item=post from=$block.posts}>
	<li style="margin-left: 0.5em; margin-bottom: 6px;"><{if $post.fecha!=''}><strong><{$post.fecha}></strong><br /><{/if}>
		<a href="<{$post.link}>"><{$post.title}></a><br />
        <{if $post.date}><small><{$post.date}></small><{/if}>
        <{if $post.hits!=''}><small><{if $post.date}> - <{/if}><{$post.hits}></small><{/if}>
        <{if $post.comments!=''}><small><{if $post.date}> - <{/if}><{$post.comments}></small><{/if}>
		<{if $post.content!=''}><br /><{$post.content}><{/if}>
	</li>
<{/foreach}>
</ul>
<{/if}>