.rd_loptions{
    padding: 10px 5px;
}
.rmc_pages_navigation_container{
    float: right;
}
#rd-form-container .large{
    width: 99%;
    font-size: 1.8em;
}
#rd-form-container #section-url{
    padding: 6px 2px;
}
#rd-form-container .info{
    padding: 5px;
    text-align: center;
    margin: 5px 0;
    background: #FFED97;
    border: 1px solid #fed22f;
}
.rd_large{
    display: block;
    width: 98%;
}
.rd_widget_form{
    
}
.rd_widget_form label{
    display: block;
    margin: 0 0 3px 0;
    cursor: pointer;
    font-weight: bold;
}
.rd_widget_form input,
.rd_widget_form select{
    width: 95%;
    display: block;
    margin: 0 0 8px 0;
}