#qp-dashboard-container{
	overflow: hidden;
	margin: 10px 0;
}

#qp-dash-right{
	float: right;
	overflow: hidden;
	width: 380px;
}
#qp-dash-left{
	overflow: hidden;
	margin-right: 400px; 
}
.qp_widget_container{
	margin: 0 0 10px 0;
}
.qp_widget_container .even{
	line-height: 140%;
}
.qp_loading_image{
	float: left;
	margin: 0 5px 0 0;
}
#qp-recent-pages .even{
	padding-left: 24px;
	background: url(../images/page.png) no-repeat 4px 8px;
	line-height: 150%;
	color: #666;
}
.news_item{
    padding: 0 0 8px 0;
    margin-bottom: 5px;
    border-bottom: 1px dotted #CCC;
    overflow: hidden;
}
.news_item:last-child{
    border-bottom: none;
}
.news_item h3{
    margin: 0 0 10px 0;
}
.news_item a.thumb img{
    float: left;
    margin: 0 5px 2px 0;
    padding: 1px;
    border: 1px solid #CCC;
    width: 60px;
}
.news_item .news_content{
    line-height: 150%;
    color: #444;
}
.news_item .link{
    display: block;
    margin: 10px 0 0 0;
}